<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot WebSocket</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body>
<div id="chat-container">
    <div class="chat-header">
        <div class="user-container">
            <span id="username" th:utext="${username}"></span>
            <a th:href="@{/logout}">Logout</a>
        </div>
        <h3>Spring WebSocket Chat Demo</h3>
    </div>

    <ul>
        <li th:each="chat : ${chats}" th:attr="data-value=${chat.id}">
            <span th:text="${chat.name}" th:remove="tag"></span>
            <a th:href="@{/chat/{id}(id=${chat.id})}" class='go' aria-hidden='true'>&times;</a>
        </li>
    </ul>
</div>

</body>
</html>